/* Write your CSS code here */

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 800;
  color: #12022f;
}
.user-info {
  font-family: 'Roboto';
  font-size: 18px;
  color: #616e7c;
}
